body{
    background-color: rgb(220, 235, 255);
}

h1 {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    padding: 20px;
    color: rgb(106, 106, 106);
    margin-left: 300px;
    margin-bottom: 10px;
}

img{
    margin-left: 40%;
    width: 290px;
    height: 350px;
    box-shadow: 5px 6px 10px rgb(128, 128, 128);
}
.content {
    bottom: 200px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
}

.button {
    background-color: transparent;
    border: 2px solid rgb(191, 79, 255);
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(191, 79, 255);
    color: white;
}